---
import Layout from "../../layouts/Layout.astro";
import styles from '../../styles/Article.module.css'
import { getCollection } from 'astro:content';


const { slug } = Astro.params;

console.log(slug)

export async function getStaticPaths() {
    const posts = await Astro.glob('../../content/articles/*.md');

    return posts.map(post => ({
        params: {
            slug: post.frontmatter.slug
        },
        props: {
            post
        },
    }));
    
}

const { Content, frontmatter } = Astro.props.post;

const author = await getCollection('members', ({ data }) => {
    return frontmatter.authors.includes(data.name)
})

author.sort()

frontmatter.authors.sort()

//console.log(frontmatter?.slug)

---

<Layout title={frontmatter?.title} seoFrontmatter={frontmatter}>
    <div class={styles.container}>
        <div class={styles.maincontent}>
            <div class={styles.toparticle}>
                <h1><strong>{frontmatter.title}</strong></h1>
                <p>{frontmatter.authors.length == 1 ? "Author" : "Authors"}: {frontmatter.authors.map((y, index) => index != frontmatter.authors.length - 1 ? <a className={styles.authorlink} href={`/team/${author[index].slug}`}>{y + ", "}</a> : <a className={styles.authorlink} href={`/team/${author[index].slug}`}>{y + " "}</a>)} </p>
                <img src={frontmatter.coverimg} class={styles.coverimg}>
                <p>{frontmatter.date}</p>
            </div>
            <div class={styles.mainarticle}>
                <Content />
            </div>
        </div>
    </div>
</Layout>