---
import Layout from "../../layouts/Layout.astro";
import styles from '../../styles/Article.module.css'
import { getCollection } from 'astro:content';

const { slug } = Astro.params;

console.log(slug)

export async function getStaticPaths() {
    const posts = await Astro.glob('../../content/articles/*.md');

    return posts.map(post => ({
        params: {
            slug: post.frontmatter.slug
        },
        props: {
            post
        },
    }));
    
}

const { Content, frontmatter } = Astro.props.post;

const author = await getCollection('members', ({ data }) => {
    return frontmatter.authors.includes(data.name)
})

author.sort()

frontmatter.authors.sort()

//console.log(frontmatter?.slug)

---

<Layout title={frontmatter?.title}>
    <head>
        <title>{frontmatter?.title}</title>
        <meta name="keywords" content={frontmatter?.title.replaceAll(" ", ", ")}>
        <meta name="author" content={frontmatter.authors.map((y, index) => index != frontmatter.authors.length - 1 ? y + ", " : y)}>
        <meta name="description" content={frontmatter?.descrption}>
        <meta name="og:image" content="/aitreeart.png">
        <meta name="og:url" content="/aitreeart.png">
        <meta name="og:title" content="Clean Westchester">
        <meta name="og:type" content="article">

        <!-- SEO -->
        <link rel="canonical" href={frontmatter?.slug} />

        <!-- Open Graph -->
        <meta property="og:site_name" content="My Astro Blog">
        <meta property="og:title" content={frontmatter.title}>
        <meta property="og:description" content={frontmatter.description}>
        <meta property="og:url" content={"https://www.cleanwestchester.org/articles/" + frontmatter.slug} />
        <meta property="og:image" content="">
        <meta property="og:image:url" content="">
        <meta property="og:image:secure_url" content={frontmatter.coverimg}>
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="600">
        <meta property="og:image:alt" content={"https://www.cleanwestchester.org/articles/" + frontmatter.coverimg}>

        <!-- Twitter -->
        <meta name="twitter:title" content={frontmatter.title}>
        <meta name="twitter:description" content={frontmatter.description}>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content={frontmatter.coverimg}>
        <meta name="twitter:image:alt" content={frontmatter.title}>
        <meta name="twitter:domain" content={"https://www.cleanwestchester.org/articles/" + frontmatter.slug}>

    </head>
    <div class={styles.container}>
        <div class={styles.maincontent}>
            <div class={styles.toparticle}>
                <h1><strong>{frontmatter.title}</strong></h1>
                <p>{frontmatter.authors.length == 1 ? "Author" : "Authors"}: {frontmatter.authors.map((y, index) => index != frontmatter.authors.length - 1 ? <a className={styles.authorlink} href={`/team/${author[index].slug}`}>{y + ", "}</a> : <a className={styles.authorlink} href={`/team/${author[index].slug}`}>{y + " "}</a>)} </p>
                <img src={frontmatter.coverimg} class={styles.coverimg}>
                <p>{frontmatter.date}</p>
            </div>
            <div class={styles.mainarticle}>
                <Content />
            </div>
        </div>
    </div>
</Layout>