---

import styles from '../styles/Navbar.module.css'


---

<div class={styles.container}>
    <a href="/">
        <img class={styles.logoimg} src="/cwglobe.png"/>
    </a>

    <div class={styles.linkcontainer}>
        <a class={styles.linktext} href="/about">
            <p>about</p>
        </a>
        <a class={styles.linktext} href="/articles">
            <p>articles</p>
        </a>
        <a class={styles.linktext} href="/cleanups">
            <p>clean ups</p>
        </a>
        <a class={styles.linktext} href="/team">
            <p>our team</p>
        </a>
        <a class={styles.linktext} href="/newsletter">
            <p>newsletter</p>
        </a>
        <a class={styles.linktext} href="/contact">
            <p>contact us</p>
        </a>
    </div>


</div>